<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <title>使用帮助</title>
    <link rel="stylesheet" href="http://www.mukzz.pw/tpwx/h5/letter/css/common.css" />
    <link rel="stylesheet" href="http://www.mukzz.pw/tpwx/h5/letter/css/self.css" />
    <script src="http://cdnaliyun.oss-cn-hangzhou.aliyuncs.com/js/jquery1.10.2.min.js"></script>
    <script src="http://www.mukzz.pw/tpwx/h5/letter/js/common.js"></script>
</head>
<body>
<!--开始-内容-->
<div class="box">
    <div style="padding: 5px 15px;font-size: 16px;line-height: 26px;letter-spacing: 1px;">
        第一栏：填写你想对你喜欢的人说的话。<br><br>
        第二栏：填写你喜欢的Ta的微信昵称，昵称可以填写不全，但如果朋友圈内有昵称包含这些字的朋友也是会看到的哦！（例如：心仪的Ta昵称是LINY，而你只填写了LI，那么你朋友圈有个好友叫LINKIN的也是会看到的，但是填LINY的话，这个叫LINKIN的人就看不到了）。<br><br>
        第三栏：填写给其他人看的，可以恶搞一下朋友圈内想知道你喜欢谁的朋友，因为他们是看不到第一栏的那句话的哦。<br><br>
        最后提示：如果你心仪的Ta扫了这封表白信，你在公众号内会收到该用户已查阅的回执消息的哦~赶紧生成你的专属表白信吧。
    </div>
</div>
<!--结束-内容-->
<div class="footer-txt">一定要记得关注支持我们哦</div>
</body>
</html>